body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: linear-gradient(to bottom right, #EBEBEB, #F5F5F5);
	margin: 0;
}
* {
  box-sizing: border-box;
}
.top-container{
	margin: 0px;
	background-color: #fff;
	overflow: auto;
	border-bottom: 2px solid #ccc;
}
h1, h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 28px;
}
header{
	background-color: #4aaaa5;
	color:white;
	float: left;
	padding: 5px 25px 5px 25px;
}
nav{
	float: right;
	font-size: 18px;
	/*margin-right: 200px;*/
	padding-top: 25px;
	padding-bottom: 25px;
}

.navItems{
	border-right: 1px solid #777;
	color: #777;
	text-decoration: none;
	font-weight: normal;
	font-size: 22px;
	padding-right: 8px;

}
.navItems:last-of-type{
	border-right: none;
	padding-right: 0px;
}
.container{
	clear: both;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	/*padding-left: 150px;
	padding-right: 215px;*/
	overflow: auto;
}
.left-container, .sideBar{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #fff;
/*	padding: 15px 20px 15px 20px;*/
	padding: 30px;
	
}
.left-container{
	float: left;
	width: 100%;
	max-width: 650px;
	border: 1px solid #ddd;
}
.sideBar{
	float: right;
	width: 100%;
	max-width: 270px;
	border: 1px solid #ddd;
}
#bio-image{
	width: 200px;
	float: left;
	margin-right: 15px;
}
h2{
	border-bottom: 3px solid #ddd;
	/*padding-bottom: 19px;*/
	color: #4aaaa5;
	font-size: 22px;
	padding-bottom: 20px; 
}
p{
	color: #777;
	font-size: 18px; 
	line-height: 2em; 
}
.socialLink{
	width: 62px;
	height: 62px;
	/*padding-right: 20px;*/
	
}
.socialLink:last-of-type{
	/*padding-right: 5px;*/
}
footer{
	clear:both;
	text-align: center;
	background-color: #666;
	color: #909090;
	padding: 45px 5px 45px 5px;
	border-top: 10px solid #4AAAA5;
}

label{
	font-size: 22px;
	color: #777;
}
input[type=text], textarea {
    width: 97%;
    padding: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.image_container{
	display: inline-block;
	margin: 25px;
	position: relative; 
	text-align: center;
	color:white;
	
}
.caption{
	background-color: #4aaaa5;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px; 
	position: absolute;
	width: 200px;
	top: 125px;
}
.subButton{
	background-color: #4aaaa5;
	border: none;
	padding: 15px 35px;
	color: white;
	font-size: 20px; 
}
@media screen and (max-width: 980px){
	/*Following max-widths found using ratios. */
	.container{
		max-width: 768px;
	}
	.left-container{
		max-width: 520px;
	}
	.sideBar{
		max-width: 216px;
	}
	.left-container, .sideBar{
		padding: 20px;
	}
	.socialLink{
		width: 55px;
		height: 55px;
	}
}
@media screen and (max-width: 788px){
	.container{
		max-width: 640px;
	}
	.left-container{
		max-width: none;
	}
	.sideBar{
		max-width: none;
	}
}
@media screen and (max-width: 660px){
	.top-container{
		position: static;
	}
	header{
		width: 100%;
		text-align: center;
		position: static; 
	}
	nav{
		float: left; 
	}
	.navItems{
		display: inline-block;
		padding-left: 75px;
		padding-right: 75px; 
	}


}